<!-- I wrote this code -->
<!-- This is a home page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SoloBlogCraft</title>
</head>

<body>
    <div class="header">
        <a href="/" class="logo">SoloBlogCraft</a>
        <div class="header-right">
            <a class="active" href="/">Home</a>
            <a href="/reader/home">Reader</a>
            <a href="/author/home">Author Login</a>
        </div>

        <div class="header-info">
            <h2>Craft Your Story, Share Boldly.</h2>
            <a href="/register"><button class="blog-create">Create Your Own Blogs</button></a>
        </div>
    </div>

    <div class="first header">
        <div class="header-info">
            <h2>Give it Blog Title of your own
                <br />Give your blog the perfect title with your name!
            </h2>
            <a href="/register"><button class="blog-create">Create Your Own Blogs</button></a>
        </div>
    </div>

    <div class="second header">
        <div class="header-info">
            <h2>🚀 Exciting news! Unleash your creativity—PUBLISH your articles and <br />
                immerse yourself in captivating reads NOW! 📚✨</h2>
            <a href="/register"><button class="blog-create">Create Your Own Blogs</button></a>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 SoloBlogCraft. All rights reserved.</p>
        <div class="social-media-buttons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
        </div>
    </footer>
</body>

</html>
<!-- End of my code -->